# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
* popular languages for Data Science
* libraries used by Data Scientists
* Data Science Tools
* evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. JavaScript
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
4. SciPy
5. Pandas 
6. Keras
7. SciKit-Learn
8. PyTorch
9. TensorFlow

Data Science Tools
---- ------- -----
* Jupyter Notebook
* RStudio
* Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python
eval()
(3 + 4)
(7 - 3)
30/4

In [3]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
ONYIUKE AFAM RAPHAEL